@charset "UTF-8";
/* CSS Document */

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #2d2d30;
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 0.9;
}

.navbar-brand { 
	color: #d5d5d5 !important;
	font-family: 'Damion', cursive;
}

.navbar-header a:hover { 
	color: #f4511e !important;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #f4511e !important;
	background-color: #222 !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}