@charset "utf-8";
/* CSS Document */
/* Stylesheet for Lumana Crafts */
/* TRBL */

/* GENERAL HTML AND BODY TAGS */
html {
	height: 100%;
}

body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100%;
    width: auto;  /* Firefox will set width as auto */
}

#main {
	min-width: 600px;
	height: 100%;
}

/* LOGIN DIV */
#login {
	padding: 10px 30px 10px 30px;
	height: 20px;
	background-color: #333;
	color: #FFF;
}

#login p {
	margin: 0px;
}

#login a {
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

/* unvisited link */
#login a:link {
    color: #fff;
}

/* visited link */
#login a:visited {
    color: #fff;
}

/* mouse over link */
#login a:hover {
    color: #fff;
}

/* selected link */
#login a:active {
    color: #fff;
}

/* TOP MENU DIV */
#topmenu {
	font-family:Georgia, "Times New Roman", Times, serif;
	padding: 10px 30px 10px 30px;
	color: #333;
	background-color: #eee;
	text-align: center;
	border-bottom: 1px solid #CCC;
}

#topmenu a {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding: 0px 20px 0px 20px;
}

/* unvisited link */
#topmenu a:link {
    color: #333;
}

/* visited link */
#topmenu a:visited {
    color: #333;
}

/* mouse over link */
#topmenu a:hover {
    color: #333;
}

/* selected link */
#topmenu a:active {
    color: #333;
}

/* HEADER DIV */
#header {
	padding: 30px 0px 20px 0px;
	color: #333;
	text-align: center;
}

#header h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #333;
	text-align: center;
	font-size: 42px;
}

#header h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #069;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
}

#header a {
	text-decoration: none;
}

/* unvisited link */
#header a:link {
    color: #333;
}

/* visited link */
#header a:visited {
    color: #333;
}

/* mouse over link */
#header a:hover {
    color: #333;
}

/* selected link */
#header a:active {
    color: #333;
}

#content {
	height: 100%;
}
/* SLIDE DIV */
#slide {
	padding-top: 20px;
	text-align:center;
}

#watermark {
	text-align:right;
	width:100%; 
	color:#999;
	position:fixed;
	bottom:44px;
}

/* BOTTOM MENU DIV */
#bottommenu {
	padding: 6px 0px 10px 0px;
	color: #333;
	background-color: #eee;
	text-align: center;
	min-width: 100%;
	height: 14px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	position:absolute;
	z-index: 10;
}

#bottommenu a {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding: 0px 20px 0px 20px;
}

/* unvisited link */
#bottommenu a:link {
    color: #333;
}

/* visited link */
#bottommenu a:visited {
    color: #333;
}

/* mouse over link */
#bottommenu a:hover {
    color: #333;
}

/* selected link */
#bottommenu a:active {
    color: #333;
}

/* Website created by Malcolm Malloy 2015 */